.buttonlistparams
{
   margin: 2px 10px 0px 2em;
}

.buttonlist {
  margin: 5px 0px 5px 25px;
/*  padding: 0px 10px 0px 10px; */
/*  border: solid black 1px; */
/*  background-color:  #92aec7; */
}
.buttonlist ul {
  margin: 5px 5px 5px 0px;
  padding: 0px 0px 0px 30px;
}
.buttonlist li {
  border: solid black 1px;
  margin: 5px 10px 5px 0px;
  padding: 5px;
  background-color: #FFFFFF;
}

.seqinput {
  margin: 5px 0px 5px 25px;
  border: solid black 1px;
  background-color:  #92aec7;
  padding: 5px;
}

.seqinput p {
  margin: 0px;
}

.seqinput textarea {
  margin: 0px 0px 0px 25px;
}

#saptf {
  padding: 0px;
  margin: 0px 0px 40px 0px;
}

#maincontent {
  padding: 0px;
  margin: 0px;
}

.paps_result {
  font-weight: bold;
}

.paps_pdb {
  font-weight: bold;
}

.paps_pdb_angle {
  font-weight: bold;
}

